<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Hi Welcome Back</h1>
          <h3 class="text-center">Login Here</h3>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                class="form-control"
                formControlName="email"
                required
                type="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
              />
            </div>
            <button class="btn btn-primary custom-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
