<div class="container">
  <h1 class="my-4 text-center">Students</h1>
  <input
    #newStudentName
    class="form-control form-control-sm mr-2 d-inline-block"
    style="width: auto"
    placeholder="New student name"
  />
  <button
    class="btn btn-primary mb-3"
    (click)="addStudent(newStudentName.value)"
  >
    Add Student
  </button>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>
          <input
            #newName
            class="form-control form-control-sm mr-2"
            placeholder="New name"
          />
          <button
            class="btn btn-warning btn-sm mr-2"
            (click)="updateStudent(student, newName.value)"
          >
            Update
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteStudent(student)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
